<a href="https://colab.research.google.com/github/Aakash-Sreeram/2216162_AIML_Bootcamp_2023/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#tuples-store multiple items in a single var
my_tup=(1,2,3,4,5,1)
my_tup1=("h1",1.7,4,my_tup)

n_tup=("Hii",my_tup,my_tup1)
print(n_tup[-1][-1][2])

#tuple methods
print(my_tup.count(1))
print(my_tup.index(2))
print(max(my_tup))
print(min(my_tup))
print(len(my_tup))

3
2
1
5
1
6

In [ ]:
#sets
my_set={1,2,3,4}
set1={1,5.6,"heyy"}

l=[1,5,8,2]
print(l)
set2=set(l)
print(set2)

#set methods
my_set.add(5)
print(my_set)

my_set.update([5,6])
print(my_set)

my_set.discard(4)
print(my_set)

my_set.remove(5) #we will not get any error msg if not present
print(my_set)

#set opearations
a={1,3,4,5}
b={5,0,2,4}

#union
print(a|b)
print(a.union(b))
print(b.union(a))

#intersection
print(a&b)
print(b.intersection(a))
print(a.intersection(b))

#difference
print(a.difference(b))
print(b.difference(a))

[1, 5, 8, 2]
{8, 1, 2, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 5, 6}
{1, 2, 3, 6}
{0, 1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5}
{4, 5}
{4, 5}
{4, 5}
{1, 3}
{0, 2}

In [ ]:
print(my_set)
my_set.discard(5)#we will not get any error  if no. not present
print(my_set)

my_set.remove(3) #we will get any error  if no. not present
print(my_set)

{1, 2, 3, 6}
{1, 2, 3, 6}
{1, 2, 6}

In [ ]:
#dictionaries
dict={"name":"aakash","rno":2003}
print(dict["name"])
print(dict.keys())
print(dict.values())
print(dict.get("rno"))

aakash
dict_keys(['name', 'rno'])
dict_values(['aakash', 2003])
2003