<a href="https://colab.research.google.com/github/Aakash-Sreeram/2216162_AIML_Bootcamp_2023/blob/main/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#if statemnet
var=100
if var>0:
  print("TRUE")
  print(var)

TRUE
100

In [3]:
 #if..else statement 
 var=-1
if var>0:
  print("true")
else:
  print("false")

false

In [4]:
#nested if statements 
age=int(input("enter age"))
if age>0:
  if age>0 and age<=2:
    print("free ticket")
  elif age>2 and age<15:
    print("half ticket")
  elif age>=15 and age<60:
    print("full ticket")
  elif age>=60:
    print("discounted ticket")

enter age10
half ticket

In [5]:
#loops
numbers=[1,2,3,4,5,6,7,8,9,10]
for i in range(1,11):
  print(i)
sum=0
for val in numbers:
  sum=sum+val
print("the sum is",sum)

1
2
3
4
5
6
7
8
9
10
the sum is 55

In [6]:
#while loop
count=1
while(count<11):
  print(count)
  count=count+1

1
2
3
4
5
6
7
8
9
10

In [7]:
#nested loop
x=[[12,7,3],[4,5,6],[7,8,6]]
y=[[5,8,1],
   [1,1,0],
   [5,3,0]]
res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(x)):
  for j in range(len(x[0])):
    res[i][j]=x[i][j]+y[i][j]
for r in res:
  print(r)

[17, 15, 4]
[5, 6, 6]
[12, 11, 6]

In [8]:
#nested while loop
num=int(input('enter until which table you need'))
i=1
while(i<=num):
  print(f"table{i}")
  j=1
  while(j<=10):
    print(f'{i}*{j}={i*j}')
    j=j+1
  print("________")
  i=i+1

enter until which table you need4
table1
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
________
table2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
________
table3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
________
table4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
________

In [9]:
#control statments
#break
for q in "python":
  if q=='h':
    break
  print("current letter",q)
print("_______")
#continue
for q in "python":
  if q=='h':
    continue
  print("current letter",q)
print("_______")
#pass
for q in "python":
  if q=='h':
    pass
    print("this is a pass block")  
  print("current letter",q)

current letter p
current letter y
current letter t
_______
current letter p
current letter y
current letter t
current letter o
current letter n
_______
current letter p
current letter y
current letter t
this is a pass block
current letter h
current letter o
current letter n

In [10]:
#functions
def greet(name):
  '''this funrction greets a person'''
  print("hello,\t "+name+" \t good morning")
greet("aakash")

hello,	 aakash 	 good morning

In [11]:
#default
def A(a,b=1,c=2):
  return a+b+c
print(A(3))
print(A(4,4,4))

6
12

In [12]:
#keyword
def A(a,b=1,c=2):
    return a+b+c
print(A(a=2,b=3))
print(A(c=4,a=4,b=4))

7
12

In [13]:
#position 
def A(a,b,c):
  return a+b+c
print(A(10,20,30))

60

In [14]:
#arbitrary postional
def add_num(*n):
  print(sum(n))
add_num=(1,2,3,4,5)

In [15]:
#arbitrary keyword
def key_args(**kwargs):
  return kwargs
d=key_args(apples=10,bananas=20,cherries=30)
print(d['apples'])
print(d)

10
{'apples': 10, 'bananas': 20, 'cherries': 30}

In [16]:
#higher order functions
def shout(text):
  return text.upper()
def whisper(text):
  return text.lower()
def explain(func):
  greet=func('hi')
  print(greet)
explain (shout)
explain (whisper)

HI
hi